{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/viewBook.css') }}">
{% endblock %}
{% block content %}
<div class="book-details">
    <div class="book-info">
        <h1>{{ book.title }}</h1>
        <img src="{{ book.img }}" alt="book image">
        <p>Author/s: </p>
        {% for author in authors %}
            <p>{{ author.author_name }}</p>
        {% endfor %}
        <p>{{ book.pages }} pages</p>
        <p>ISBN: {{ book_id }}</p>
    </div>
    <div class="book-reviews">
        <a href = "{{url_for('Read.review', book_id = book_id)}}" type="button" class="btn btn-danger"> Post a review</a>
        <section class="form-wrapper">
            <h1>Tilføj til bogreol:</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
    
                <div class="form-group">
                    {{ form.category.label }}
                    {{ form.category }}
                </div>
    
                <div class="form-group">
                    {{ form.submit(class="btn btn--full") }}
                </div>
            </form>
        </section>
        <h2>Reviews</h2>
        {% for review in reviews %}
            <div class="review">
                <h3>{{ review.user_name }}</h3>
                <p>Rating: 
                    {% for _ in range(review.rating) %}
                        ★
                    {% endfor %}
                    {% for _ in range(5 - review.rating) %}
                        ☆
                    {% endfor %}
                </p>
                <p>{{ review.review_text }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
