{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/books-homepage.css') }}">
{% endblock %}
{% block content %}
    <div class="search-container">
    <form method="GET" action="{{ url_for('BookView.search') }}">
        <input type="text" id="search-bar" name="query" placeholder="Search books...">
        <button type="submit" id="search-button">Search</button>
    </form>
</div>
<div class="book-container">
    {% for book in allBooks %}
    <div class="book">
        <img src="{{book.img}}" width="200px" height="250px"></img>
            <a href="{{ url_for('Read.read', book_id=book.isbn)}}">{{book.title}}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}